In [1]:
700 / (900 + 1_200 + 700) * 100

25.0

In [2]:

alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [3]:
## can also assign like this:
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [4]:
## call variables
alfred_m
# fatima_monthly_23
# trina_m

900

In [5]:
## calculate trina's share using variables
trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100

25.0

In [6]:
## place result into in variable
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100
trina_share_23

25.0

In [7]:
## easier to read
trina_share_23 = \
trina_monthly_23 / (alfred_monthly_23 +\
                    fatima_monthly_23 +\
                    trina_monthly_23) * 100

In [8]:
## call it
trina_share_23, alfred_monthly_23, fatima_monthly_23

(25.0, 900, 1200)

In [9]:
## print function
print("hello world")

hello world

In [12]:
## print variables
print(alfred_monthly_23)
print(trina_m)
print(fatima_m, alfred_m)

900
700
1200 900

In [15]:
## using f-string
## print total all the monthly rents plus totals using f-strings
print(f"Trina's rent: ${trina_monthly_23}")
print(f"Trina pays {trina_share_23} percent of the total rent!")

Trina's rent: $700
Trina pays 25.0 percent of the total rent!

In [20]:
## f-string also do calculations

print(f"The total monthly rent is \
${alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23:,} \
and Trina pays {trina_share_23} percent of it.")

The total monthly rent is $2,800 and Trina pays 25.0 percent of it.